---
---

body {
  background: url("{{ site.baseurl }}/static/img/subtle_dots.png");
  color: #000;
}
hr {
  border-top: 1px solid #F7F1F1;
  border-bottom: 1px solid #7f7f7f;
}
span.time, span.categories, span.permalinklink {
  color: #ADADAD;
  margin-bottom: 5px;
  font-size: 11px;
}
h1, h2, h3 {
  color: #696969;
  font-weight: normal;
}
h1 {
  margin-bottom: 10px;
  font-size: 25px;
}
h2, h3 {
  margin-bottom: 5px;
}
a, a:link, a:active {
  text-decoration: none;
  color: #3fa757;
}
a:hover {
  color: #B3B3B3;
  text-decoration: underline;
}

/* Layout */
.main-layout {
  background: #fff;
}

/* Content */
div.content pre {
  background: #333333;
  color: #FFF;
}
div.content .highlight {
	background: #333333;
}
footer {
  border-top: 1px solid #F7F1F1;
  color: #C2C2C2;
}

/* Left column */
div.col-sm-3 {
  color: #fff;
}
div.col-sm-3 strong {
  color: #4A4A4A;
}
div.col-sm-3 div.profile-about {
  color: #8C8C8C;
}

/* Social Icons */
.social li a {
  color: #969394;
}
.social li a:hover {
  color: #6D6D6D;
}

.share-page {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
